*~
*.po
*.itf
*.asr
dist/
/system/bpf-samples/.perf_event_paranoid_-1
/test/.data/
/test/.build/
/data/plots/
!/data/plots/23-02-26_23-56_bpftool/bpftool/0004-errors.pdf
/data/.tidy/
/data/.raw/
/data/Rplots.pdf
/data/archive/scratch*.tar.gz
/*/bpf-samples/make-linux-selftests.stderr
/*/bpf-samples/make-linux-selftests.stdout
/*/linux/
/src/linux.HEAD/
/src/linux
/src/linux-checkouts/HEAD/
/src/.linux.HEAD/
