[submodule "tests/libbpf-bootstrap"]
	path = src/bpf-samples/external/libbpf-bootstrap
	url = git@gitlab.cs.fau.de:un65esoq/libbpf-bootstrap.git
[submodule "tests/bpf/cilium"]
	path = src/bpf-samples/external/cilium
	url = git@github.com:cilium/cilium.git
[submodule "tests/bpf/linux-build/linux"]
	path = src/linux-main
	url = git@gitlab.cs.fau.de:un65esoq/linux-sec.git
[submodule "tests/bpf/samples/vbpf"]
	path = src/bpf-samples/external/vbpf
	url = git@gitlab.cs.fau.de:un65esoq/vbpf-ebpf-samples.git
[submodule "tests/bpf/external/bcc"]
	path = src/bpf-samples/external/bcc
	url = git@github.com:iovisor/bcc.git
[submodule "spectector-proj"]
	path = src/bpf-samples/spectector-proj
	url = git@gitlab.cs.fau.de:un65esoq/spectector-bpf.git
[submodule "system/bpf-samples/external/katran"]
	path = src/bpf-samples/external/katran
	url = git@github.com:luisgerhorst/katran.git
[submodule "system/bpf-samples/external/calico"]
	path = src/bpf-samples/external/calico
	url = git@github.com:projectcalico/calico.git
[submodule "src/.linux.bpf-spectre"]
	path = src/.linux.bpf-spectre
	url = git@gitlab.cs.fau.de:un65esoq/linux-sec.git
	branch = bpf-spectre
[submodule "src/.linux.master"]
	path = src/.linux.master
	url = git@gitlab.cs.fau.de:un65esoq/linux-sec.git
	branch = master
[submodule "src/.linux.bpf-spectre-v1-nospec"]
	path = src/.linux.bpf-spectre-v1-nospec
	url = git@gitlab.cs.fau.de:un65esoq/linux-sec.git
	branch = bpf-spectre-v1-nospec
