[submodule "tests/libbpf-bootstrap"]
	path = system/bpf-samples/external/libbpf-bootstrap
	url = git@gitlab.cs.fau.de:un65esoq/libbpf-bootstrap.git
[submodule "tests/bpf/cilium"]
	path = system/bpf-samples/external/cilium
	url = git@github.com:cilium/cilium.git
[submodule "tests/bpf/linux-build/linux"]
	path = system/linux
	url = git@gitlab.cs.fau.de:un65esoq/linux-sec.git
[submodule "tests/bpf/samples/vbpf"]
	path = system/bpf-samples/external/vbpf
	url = git@github.com:vbpf/ebpf-samples.git
[submodule "tests/bpf/external/bcc"]
	path = system/bpf-samples/external/bcc
	url = git@github.com:iovisor/bcc.git
[submodule "spectector-proj"]
	path = system/bpf-samples/spectector-proj
	url = git@gitlab.cs.fau.de:un65esoq/spectector-bpf.git
