*~
*.po
*.itf
*.asr
dist/
/tests/bpf/prog/lbe_*.bpf.s
/tests/bpf/prog/cilium_*.bpf.s
/tests/bpf/prog/vbpf_*.bpf.s
/tests/bpf/prog/bcc_*.bpf.s
/tests/bpf/.build/
/tests/bpf/linux-build/.build/
/tests/bpf/linux-build/.run/
